{% include 'adminheader.html' %}
<br><br><br><br><br>
<style type="text/css">
        table{
            width: 70%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
            background-color: white;
        }
        th{
            width: 20%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
        }
        tr{
            width: 50%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
        }
        td{
            width: 60%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
        }
        input[type=text]
        {
            width:100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
        textarea
        {
            width:100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
        input[type=submit]
        {
            width: 30%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
        </style>

<body>	
<h1 align="center">Subjects</h1><br>
	<form method="post">
		<center>
{% if data['updatesubjects'] %}
<table align="center">
		<tr>
			<th>Course Name</th>
			<td>
				<input type="text" required=""value="{{data['updatesubjects'][0]['course_title']}}">
			</td>
		</tr>	
		<tr>
			<th>Subject Name</th>
			<td>
				<input type="text" name="cname" required="" 
				value="{{data['updatesubjects'][0]['sub_name']}}">
			</td>		
		</tr>
		<tr>
			<th>Description</th>
			<td><textarea placeholder="enter des"  name="des" required="">{{data['updatesubjects'][0]['sub_description']}}</textarea></td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input type="submit" name="update" value="Update">
			</td>
		</tr>
	</table>
{% else %}

	<table border="1">
		<tr>
			<th>Course Name</th>
			<th>Subject Name</th>
			<th>Description</th>
		</tr>
		{% for row in data['subjects'] %}
		<tr>
			<td>{{row['course_title']}}</td>
            <td>{{row['sub_name']}}</td>
			<td>{{row['sub_description']}}</td>

			<td><a href="/admin/view_teacher?id={{row['subject_id']}}" class="btn btn btn-info" style="width:120px; height: 30px;">View Teacher</a>
			   <a href="?action=update&id={{row['subject_id']}}" class="btn btn-primary" style="width:120px; height: 30px;">Update</a>
			   <a href="?action=delete&id={{row['subject_id']}}" class="btn btn btn-danger" style="width:120px; height: 30px;"> Delele </a>
			</td>
		</tr>
        {% endfor %}
		</tr>
	</table> 
	</center>
{% endif %}
</form>
</body>
<br><br>
{% include 'footer.html' %}