{% include 'adminheader.html' %}

<br><br><br><br><br><br>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 600px;
  height: 600px;
  perspective: 1000px;

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;

}

.flip-card-back {
  padding: 30px;
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  font-size: 25px;
}

        table{
            width: 50%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
            background-color: white;
        }
        th{
            width: 20%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
        }
        tr{
            width: 50%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
        }
        td{
            width: 60%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
        }
        input[type=text]
        {
            width:100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
        textarea
        {
            width:100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
        
        input[type=email]
        {
            width:100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
        input[type=file]
        {
            width:100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
        input[type=submit]
        {
            width: 30%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
</style> 

    <body>
    	{% if data['updatecollege'] %}
    	<br><br><br><br><br>
        <form method="post" enctype="multipart/form-data">
          <h1 align="center"><font size="20" color="blue">College Details</font></h1><br>
           <table  align="Center">
            
            <tr class="tr">
              <th>College Name</th>
              <td class="td">
                <input type="text" name="cname" required="" placeholder="Enter Your College Name"  value="{{data['updatecollege'][0]['college_name']}}">
              </td>
            </tr>
            <tr class="tr">
              <th>Image</th>
              <td class="td">
                <input type="file" name="img" required="" value="{{data['updatecollege'][0]['image']}}">
              </td>
            </tr>
            <tr class="tr">
              <th>Description</th>
              <td class="td">
                <textarea name="descr" required="">{{data['updatecollege'][0]['description']}}</textarea>
              </td>
            </tr>
            <tr class="tr">
              <th>Address</th>
              <td class="td">
                <textarea name="address" required="">{{data['updatecollege'][0]['address']}}</textarea>
              </td>
            </tr>
            <tr class="tr">
              <th>Email</th>
              <td class="td">
                <input type="email" name="email" required="" placeholder="Enter Email-ID" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" value="{{data['updatecollege'][0]['email']}}">
              </td>
            </tr>
            <tr class="tr">
              <th>Phone</th>
              <td class="td">
                <input type="text" name="phone" required="" placeholder="Enter Contact Number" pattern="[0-9]{10}" value="{{data['updatecollege'][0]['phone']}}">
              </td>
            </tr>
           	<tr class="tr">
           		<td colspan="2" align="center" class="td">
                  <input type="submit" name="update" value="Update" class="btn btn-primary">
           		</td>
           	</tr>
           </table>     
        </form>
 {% else %}
	<h1 align="center">College Details</h1>
	<form method="post" style="text-align: center;">
		{% for row in data['college'] %}
		<div align="center">
			<div class="flip-card">
  				<div class="flip-card-inner">
    				<div class="flip-card-front">
				    	<img src="/{{row['image']}}" width="600" height="700"></img><br>
					</div>
					<div class="flip-card-back" align="center">
				  	
						<b>Name   :</b>{{row['college_name']}}<br><br>
						<b>Description   :</b>{{row['description']}}<br><br>
						<b>Address :</b>{{row['address']}}<br><br>
						<b>Email :</b>{{row['email']}}<br><br>
						<b>Phone :</b>{{row['phone']}}<br><br><br>

			<a href="?action=update&id={{row['college_id']}}" class="btn btn-primary">Update</a>
			<a href="?action=delete&id={{row['college_id']}}" class="btn btn btn-danger">Delele</a>
					</div>
				</div>
			</div>
		</div>	
		{% endfor %}
</form>
{% endif %}
</body>
<br><br><br>

{% include 'footer.html' %}