{% include 'teacherheader.html' %}
<br><br><br><br><br>
<style type="text/css">
        table{
            width: 70%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
            background-color: white;
        }
        th{
            width: 50%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
        }
        tr{
            width: 50%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
        }
        td{
            width: 60%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
        }
        input[type=text]
        {
            width:100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
        textarea
        {
            width:100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
        input[type=submit]
        {
            width: 90%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
        </style>

<body>	
<h1 align="center">Add Mark</h1><br>
	<form method="post">
		<center>
	<table border="1">
		<tr>
            <th>Date</th>
			<th>Student Name</th>
			<th>File</th>
            <th>Status</th>
		</tr>
		{% for row in data['sub'] %}
		<tr>
			<td>{{row['date']}}</td>
            <td>{{row['NAME']}}</td>
            <td><a href="/{{row['file_path']}}" class="btn btn-primary">File</a></td>
			{% if row['status']=="Submitted" %}
                <td>
                    <textarea name="status{{loop.index}}"></textarea>
                    <input type="submit" name="submit{{loop.index}}" value="submit">
                </td>
                {% else %}
                <td><b>{{row['status']}}</b></td>
                {% endif %} 
		</tr>
        {% endfor %}
		</tr>
	</table> 
	</center>
</form>
</body>
<br><br>
{% include 'footer.html' %}