{% include 'teacherheader.html'%}
<br>
<br>
<br>
<br>
<style type="text/css">
        table{
            width: 70%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
            background-color: white;
        }
        th{
            width: 20%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
        }
        tr{
            width: 50%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
        }
        td{
            width: 20%;
            padding: 12px;
            border-radius: 4px;
            resize: vertical;
            color: black;
            font-style: bold;
            font-family:Calibri;
            font-size: 20px;
        }
        input[type=text]{
            width: 90%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
        textarea{
            width: 90%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
        input[type=date]{
            width: 90%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;

        }
        input[type=submit]
        {
            width: 30%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
        </style>
<body>
    <br><br>
    <h1 align="center"><font size="10" color="blue">Notes</font></h1><br>
    <form method="post" enctype="multipart/form-data">
        <table  align="center">
             {% if data['up'] %}
            <tr>
                <th>Subject Name </th>
                <td>
                <input type="text" name="cname" 
                value="{{data['up'][0]['sub_name']}}" readonly=""></td>
                {% endif %}
            </tr>
            <tr>
                <th>Title</th>
                <td><input type="text" name="title" required="" placeholder="Enter Title"></td>
            </tr>
            <tr>
                <th>Upload File</th>
                <td>
                <input type="file" name="upload_file" required="">
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="submit" value="submit"></td>
            </tr>
        </table>
        <table  align="center" border="1">
                <h1 align="center"><font size="10" color="blue">Subject Notes</font></h1>
                <tr>
                    <th>Date</th>
                    <th>Teacher Name</th>
                    <th>Subject Name</th>
                    <th>Note Title</th>
                    <th>Note</th>
                </tr>
                {% for row in data['no']%}
                <tbody>
                    <td>{{row['date']}}</td>
                    <td>{{row['NAME']}}</td>
                    <td>{{row['sub_name']}}</td>
                    <td>{{row['note_title']}}</td>
                    <td>
                        <a href="/{{row['upload_file']}}" class="btn btn-primary">File</a>
                    </td>
                    <td>
                        <a href="?action=delete&id={{row['note_id']}}" class="btn btn-sm btn-danger" style="text-decoration: none; height:30px; width: 150px;">Delete</a>
                    </td>
                </tbody>
                {% endfor %}
            </table>
    </form>
</body>

{% include 'footer.html' %}